body {
  background-color: rgb(230, 220, 220);
}

h1 {
  text-align: center;
  color: blue;
}
p,
input {
  text-align: center;
  color: rgb(138, 138, 173);
  font-size: larger;
  border: none;
  border-radius: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 160px;
  height: 160px;
  margin: auto;
  text-align: center;
}

.grid-item {
  background-color: rgb(138, 138, 173);
  border-radius: 10px;
  font-size: 25px;
  padding-top: 6px;
  color: white;
}

.top-left {
  display: block;
  transform: rotate(45deg);
}

.top-right {
  display: block;
  transform: rotate(-45deg);
}

.bottom-left {
  display: block;
  transform: rotate(-45deg);
}

.bottom-right {
  display: block;
  transform: rotate(45deg);
}

footer {
  padding-top: 40px;
  text-align: center;
  font-style: italic;
}

#widget {
  display: none;
}
